<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <remove name="OraAspNetConString" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    
    <add name="ICOPortalEntities" connectionString="metadata=res://*/EF.ICOPortal.csdl|res://*/EF.ICOPortal.ssdl|res://*/EF.ICOPortal.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ICOLIMS;PASSWORD=ASIU1JD;USER ID=ICP_STAGING&quot;" providerName="System.Data.EntityClient" />    
    <add name="OraAspNetConString" connectionString="Data Source=ICOLIMS;User Id=ICP_STAGING;Password=ASIU1JD;" providerName="Oracle.DataAccess.Client" />
    <add name="IRISPortalEntities" connectionString="metadata=res://*/EF.IRISPortal.csdl|res://*/EF.IRISPortal.ssdl|res://*/EF.IRISPortal.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=IRIS;password=D*19cDat_bS24;persist security info=True;user id=D_DATA&quot;" providerName="System.Data.EntityClient" />

    <!--
    <add name="ICOPortalEntities" connectionString="metadata=res://*/EF.ICOPortal.csdl|res://*/EF.ICOPortal.ssdl|res://*/EF.ICOPortal.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ICOLIMS;PASSWORD=U3A3BE7G;USER ID=ICP_PROD&quot;" providerName="System.Data.EntityClient" />
    <add name="OraAspNetConString" connectionString="Data Source=ICOLIMS;User Id=ICP_PROD;Password=U3A3BE7G;" providerName="Oracle.DataAccess.Client" />
     -->
    <!--
    <add name="ICOPortalEntities" connectionString="metadata=res://*/EF.ICOPortal.csdl|res://*/EF.ICOPortal.ssdl|res://*/EF.ICOPortal.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=ICOLIMSVAL;PASSWORD=JJKEDF12A;USER ID=ICP_VAL&quot;" providerName="System.Data.EntityClient" />
    <add name="OraAspNetConString" connectionString="Data Source=ICOLIMSVAL;User Id=ICP_VAL;Password=JJKEDF12A;" providerName="Oracle.DataAccess.Client" />
   -->
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />    
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PasswordExpirationInDays" value="120" />
    <add key="PasswordHistoryBackLogCounter" value="3" />
    <add key="BulkSupplySingleThreshold" value="200" />
    <add key="BulkSupplyTotalThreshold" value="999999" />
    <add key="KitSingleThreshold" value="50" />
    <add key="KitTotalThreshold" value="200" />
    <add key="WorkOrderServiceDomain" value="ICONLABS" />
    <add key="WorkOrderServiceUsername" value="service-icp" />
    <add key="WorkOrderServicePassword" value="$3[uR3$!+3" />

    <add key="Impersonate_Username" value="service-icp" />
    <add key="Impersonate_Password" value="$3[uR3$!+3" />
    <add key="Impersonate_Domain" value="ICONLABS" />
    
    <add key="AuditReasonGroupDescription" value="System Reasons" />
    <add key="SubjectDemographicTypeCode" value="ACC_DEMO_SUBJECT_NOT_MATCH,ACC_DEMO_INVALID,ACC_DEMO_BAD_FORMAT,ACC_DEMO_IS_MISSING,ACC_SUBJECT_ID_BLOCK" />
    <add key="ExcludedIssueTypeCode" value="ACC_SAMPLES_THIRD_PARTY,ACC_SITE_INACTIVE,ACC_SUBJECT_NOT_ATTACHED,ACC_ROLLOVER_DEMO_INVALID" />
    <!--2019-07-06T07:54:59-->
    <add key="TestSetDate" value="" />
  </appSettings>
  <system.web>
    <httpRuntime enableVersionHeader="false" encoderType="Microsoft.Security.Application.AntiXssEncoder, AntiXssLibrary" /> <!-- enableVersionHeader="false" >>>To remove the X-Aspnet-Version HTTP header from each response from ASP.NET-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="DevExpress.Data.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Mvc.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <sessionState mode="InProc" timeout="15" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="15" slidingExpiration="true" cookieless="UseCookies"  requireSSL="true"/>
    </authentication>
    <httpCookies requireSSL="true" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/HTML/Error/Error.htm">
      <error statusCode="404" redirect="~/Error/Error_404" />
    </customErrors>
    <machineKey validationKey="B46CF9FE1782B9306AEEEC2CA8C58F2EAD9304A6CE2FDDC8295C5D9E58C9B96C686D15566D348998B82DD97CFC5B503091D9BD0ABF17CD40A627763FA3030FA9" decryptionKey="2B9E6E2CC2728D190D714D852A8C2F2B9D1F1CD5507B525F" validation="SHA1" />
    <membership defaultProvider="OracleMembershipProvider">
      <providers>
        <remove name="OracleMembershipProvider" />
        <add name="OracleMembershipProvider" type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="OraAspNetConString" applicationName="/ICOPortal" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="(?=.{8,})(?=(.*\d){1,})(?=(.*[A-Z]){1,})(?=(.*[a-z]){1,})(?=(.*\W){1,})" />
      </providers>
    </membership>
    <profile>
      <providers>
        <remove name="OracleProfileProvider" />
        <add name="OracleProfileProvider" type="Oracle.Web.Profile.OracleProfileProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="OraAspNetConString" applicationName="/ICOPortal" />
      </providers>
    </profile>
    <roleManager defaultProvider="OracleRoleProvider">
      <providers>
        <remove name="OracleRoleProvider" />
        <add name="OracleRoleProvider" type="Oracle.Web.Security.OracleRoleProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342" connectionStringName="OraAspNetConString" applicationName="/ICOPortal" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="DevExpress.Utils" />
        <add namespace="DevExpress.Web" />
        <add namespace="DevExpress.Web.Mvc" />
        <add namespace="DevExpress.Web.Mvc.UI" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
    </httpHandlers>

    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" name="ASPxHttpHandlerModule" />
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="no-reply@iconplc.com">
        <network defaultCredentials="true" host="smtp-relay" port="25" userName="ICOLabsSupport.Support" password="iconlabinc.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <remove name="X-Powered-By" /> <!--To remove the X-Powered-By HTTP header from each response from ASP.NET-->
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
    </handlers>
    <rewrite>
      <outboundRules>
        <rule name="ModifyServer">
          <match serverVariable="RESPONSE_SERVER" pattern=".*" /> <!--To remove the X-Aspnet-Version HTTP header from each response from ASP.NET-->
          <action type="Rewrite" value="iSite" />
        </rule>
        <rule name="Add the STS header in HTTPS responses">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" /> <!--The HSTS response header lets a web site tell browsers that it should only be accessed using HTTPS, instead of using HTTP-->
          <conditions>
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <devExpress>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <themes enableThemesAssembly="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWorkOrderExternal" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" listenBacklog="200"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="200"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6400" maxStringContentLength="2147483647" maxArrayLength="2147483647"
            maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IERequisition" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" listenBacklog="200"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="200"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6400" maxStringContentLength="2147483647" maxArrayLength="2147483647"
            maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IIssues" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" listenBacklog="200"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="200"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6400" maxStringContentLength="2147483647" maxArrayLength="2147483647"
            maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost/WCFWebService/WorkOrderExternal.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWorkOrderExternal"
        contract="ICOLimsServiceRef.IWorkOrderExternal" name="NetTcpBinding_IWorkOrderExternal">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/WCFWebService/ERequisition.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IERequisition"
        contract="ICOLimsEReqRef.IERequisition" name="NetTcpBinding_IERequisition">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost/WCFWebService/Issues.svc"
       binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IIssues"
       contract="ICOLimsIssueRef.IIssues" name="NetTcpBinding_IIssues">
        <identity>
          <servicePrincipalName value="host/localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>
